.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
} 
.app {
    text-align: center;
}
.ul {
    list-style: none;
    display: hidden;
} 
.li {
    font-size: 40px;
    color: #9932cc;
}
.title {
    font-size: 55px;
    color: #4b0082; 
}
.todo-app {
    height: 52.5rem;
    background-color: #F4D03F;
    background-image: linear-gradient(132deg, #F4D03F 0%, #16A085 100%);
    
}
.x {
    font-size: 25px;
}
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
