.footer{
    height: 8rem;
    text-align:center;
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
    padding: 0;
} 
.app {
    text-align: center;
}
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
